<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Mauritz Funke</title>
<link rel="stylesheet" href="/static/css/fullpage.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> 
<link rel="stylesheet" href="/static/css/style.css">
<script src="/static/js/fullpage.js"></script>