<div class="nav">
    <ul class="nav" id="nav">
        <a class="nav-item" href="#home"><li class="nav-link nav-active">Home</li></a>
        <a class="nav-item" href="#projects"><li class="nav-link">Projects</li></a>
        <a class="nav-item" href="#skills"><li class="nav-link">Skills</li></a>
        <a class="nav-item" href="#contact"><li class="nav-link">Contact</li></a>
    </ul>
</div>